# Dependencies
**/node_modules/
**/jspm_packages/
**/bower_components/
**/web_modules/
**/.pnpm-store/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions


# Build & Generated Output
**/dist/
**/dist-ssr/
**/build/Release/
**/.vite/
**/.vitepress/dist
**/.vitepress/cache
**/.next/
**/out/
**/.nuxt/
**/.output/
**/.svelte-kit/
**/.vuepress/dist
**/.temp/
**/.docusaurus/


# Environment & Local Configuration
**/.env
**/.env.*
!**/.env.example
**/*.local


# Logs & Debugging
**/logs/
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*
**/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json


# Test Coverage
**/coverage/
**/*.lcov
**/.nyc_output/
**/lib-cov/


# Caches
**/.cache/
**/.parcel-cache/
**/.fusebox/
**/.firebase/
**/.dynamodb/
**/.serverless/
**/.eslintcache
**/.stylelintcache
**/.npm/
**/.grunt/


# TypeScript
**/*.tsbuildinfo


# Package Manager / Build Metadata
**/*.tgz
**/.yarn-integrity
**/.lock-wscript
**/.node_repl_history
**/.tern-port


# Runtime Data
**/pids/
**/*.pid
**/*.seed
**/*.pid.lock


# Vite
**/vite.config.js.timestamp-*
**/vite.config.ts.timestamp-*


# Editor / IDE
.vscode/
.idea/
**/.vscode-test/


# OS Files
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?